* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  min-height: 100vh;
}

.header {
    background: #fff;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.content {
    padding: 20px;
    margin-top: 70px; 
}

h2{
      color: #b30000;
    font-size: 1.0rem; 
}

.total-card {
  background: #a00000;
  color: #fff;
  font-weight: bold;
  font-size: 0.95rem;       
  padding: 12px 16px;       
  border-radius: 8px;     
  border: 2px solid #a00000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  transition: 0.2s ease;
  width: 200px;            
  margin-bottom: 20px;
}

.total-card .arrow {
  font-size: 14px;         
}

.total-card .count {
  margin-left: 5px;
}


.total-card:hover .arrow {
  transform: translateX(4px);   
}


.year-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;             
  max-width: 450px;     
  margin: 0 0 25px 0;   
}
.year-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 12px 16px;
  border-radius: 8px;
  border: 2px solid #a00000;
  font-size: 1rem;
  font-weight: bold;
  color: #a00000;
  text-decoration: none;  
  transition: 0.2s ease;
}

.year-card:hover {
  background: #fbecec;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}


.year-card .arrow {
  font-size: 12px;
}

/* Charts */
.chart-title {
  margin-bottom: 10px;
  color: #333;
  font-size: 16px;
}

.chart-box {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  text-align: center;
}

.chart-box img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
